// ------------------------------------
// Joomla! specific styles
// ------------------------------------

// Extend style in base
// --------------------
@import "../../../plugins/system/t4/themes/base/scss/_joomla";

//
// Generic Styles
// -------------------------

// Article Titles
// -------------------------
h2.item-title,
.item-title h2 {
  font-size: $h2-font-size;
  clear: none;

  a {
    color: $body-color;

    &:hover, &:active, &:focus {
      border-bottom: 1px solid $body-color;
      color: $body-color;
    }
  }
}

// Page Header
.page-header,
.categories-list {
  h1 {
    font-size: $font-size-base;
    font-weight: $font-weight-bold;
  }

  h2 { 
    font-size: $h3-font-size;
    margin: 0;

    a {
      color: $body-color;
      &:hover, &:focus, &:active {
        color: $link-hover-color;
      }
    }
  }
}

// Article Meta
.article-meta {
  position: relative;
}

// Article Aside
// -------------------------
.article-info {
  a {
    // Link states
    &:hover, &:focus, &:active {
    }
  }
  
  .article-info-term {
  }
  
  dd {
    > div {
    }
  }
}

// Author
.createdby {
}

// Category Name
.category-name {
}

// URL
.article-url {
}

// Publish Date
.published {
  time {
  }
}

// Modified Date
.modifydate {
}

// Hits
.hits {
}

// Article Desciption
.contentdescription {
}

.contentdescription p {
}

// Content rating
.content_rating {
}

.content_vote {
}


// Article Tools
// -------------------------
.icons {
  position: absolute;
  right: 0;
  top: $spacer;

  @include clearfix;
  
  .btn {
    .caret {
    }
  }

  .icon-cog {
  }

  .dropdown-menu {
    a {
      border-bottom: 1px solid $border-color;
      color: $gray-700;

      &:hover, &:focus, &:active {
        background-color: $gray-100;
        color: $link-hover-color;
      }
    }
  }
}


// Tags
// -------------------------
.tags {
  > li {

    > a {
    }
  }
}

.com-tags-tag.tag-category {
  .filters {
    flex-wrap: wrap;

    .btn-group.float-right {
      @include media-breakpoint-up(sm) {
        position: absolute;
        right: 0;        
      }
    }

    >div {
      margin-top: 5px;
    }
  }
  
  .category {
    li {
      h3 {
        font-size: 1.2rem;
      }
    }
  }
}


// Article Images
// -------------------------
.item-image {
  img {
  }
}

// Float Left Image
.item-image.pull-left {
  margin-left: 0;
  margin-bottom: $spacer;

  @include media-breakpoint-up(md) {
    margin-right: $spacer*2;
  }

  @include media-breakpoint-up(lg) {
  }
}

// Float right Image
.item-image.pull-right {
  margin-left: 0;
  margin-bottom: $spacer;

  @include media-breakpoint-up(md) {
    margin-left: $spacer*2;
  }
}

.item-image.pull-left,
.item-image.pull-right {
  @media screen and (max-width: 667px) {
    float: none;
    margin-left: 0;
    margin-right: 0;
  }

  img {
    @media screen and (max-width: 667px) {
      width: 100%;
    }
  }
}

// Image caption
.img_caption img {
}

div.img_caption {

  p.img_caption {
  }
}

figure {
  &.pull-left {
  }

  &.pull-right {
  }

  figcaption {
  }
}

// Article Index
// -----------
.article-index {
  h3 {
  }

  ul {
  }
}

.com-content-article__body {
  @include clearfix;

  .article-extra-ct {
    background-color: lighten($orange, 45%);
    border: 1px solid lighten($orange, 35%);
    box-shadow: 5px 5px 0 rgba($black, .045);
    margin-bottom: $spacer*3;
    padding: $spacer*1.5;

    .field-entry {
      margin-bottom: $spacer;
      position: relative;

      @include media-breakpoint-up(md) {
        padding-left: $spacer*10;
      }

      .field-label {
        color: $gray-500;
        font-size: $font-size-sm;
        letter-spacing: .5px;
        display: block;
        text-transform: uppercase;

        @include media-breakpoint-up(md) {
          position: absolute;
          left: 0;
          top: 0;
        }
      }

      &.offer-details {
        .field-value {
          color: $primary;
          font-size: $font-size-lg;
          font-weight: $font-weight-bold;
        }
      }


      .field-value {
        @include media-breakpoint-up(md) {
        }

        img {
          max-width: $spacer*15;
        }
      }

      .coupon-wrap {
        background-color: $white;
        border: 1px dashed $orange;
        border-radius: 3px;
        display: inline-block;
        padding: 2px 2px 2px 6px;

        .field-value {
          color: $orange;
          font-weight: $font-weight-bold;
        }

        button {
          border: 0;
          border-radius: 3px;
          color: $gray-700;
          font-family: $font-family-base;
          font-size: $font-size-sm;
          margin-left: 4px;
          padding: 4px 8px;
          text-transform: uppercase;
          transition: $btn-transition;

          &:hover, &:focus, &:active {
            background-color: $orange;
            color: $white;
          }

          i {
            font-size: 12px;
            margin-right: 5px;
            vertical-align: middle;
          }
        }
      }
    }

    .offer-msg {
      background-color: $primary;
      border-radius: $border-radius-sm;
      color: $white;
      padding: $spacer/2 $spacer;
    }

    .social-sharing {
      @include media-breakpoint-up(md) {
        padding-left: $spacer*10;
      }

    }
  }

  .pagenavcounter {
  }

  .pager {
    ul {
      li {  }
    }
  }

  // Slider style
  .pane-sliders {
    .panel {
      border: 1px solid $border-color;

      h3.title {
        background-color: $gray-100;
        font-size: $font-size-base;

        &.pane-toggler-down {
          border-bottom: 1px solid $border-color;
        }

        a {
          &:hover, &:focus, &:active {
          }
        }
      }

      .content {
      }
    }
  }

  // Tabs style
  dl.tabs {
    border-bottom: 1px solid $border-color;

    dt {
      border: 1px solid $border-color;
      border-radius: 3px 3px 0 0;

      &.open {
        border-bottom: 1px solid $white;
      }

      h3 {
        a {
          color: $body-color;

          &:hover, &:focus, &:active {
            color: $link-hover-color;
          }
        }
      }
    }
  }
}

// Wrap module insert in the article detail
.mod-wrapper {
  border-top: 2px solid $border-color;
  margin-top: $spacer*2;
  padding-top: $spacer*2;

  .moduletable {
    border-radius: 0;
    border: 0;
    padding: 0;
  }
}

// Read more
// -----------
.readmore {
  margin-top: $spacer*1.5;

  .btn {
    background-color: $gray-200;
    padding: $spacer/3 $spacer/1.5;
    
    // Link States
    &:hover, &:active, &:focus {
      background-color: $primary;
      color: $white;
    }

    // The Arrow
    .icon-chevron-right {
    }
  }
}

// Items More
// -----------
.items-more {
  border: 0;
  margin-bottom: $spacer*2;

  h3 {
    font-size: $h5-font-size;

    @inlude media-breakpoint-up(md) {
      font-size: $h4-font-size;
    }
  }

  .nav-tabs {
    padding-bottom: $spacer;

    > li {
      padding: $spacer/2 0;
    }

    > li > a {
      color: $body-color;
      padding: 0;

      // Link States
      &:hover, &:active, &:focus {
        cursor: pointer;
        color: $link-hover-color;
        left: 0;
        padding: 0;
        text-decoration: none;
      }
    }
  }
}


//
// List Layouts
// -------------------------

// Leading Items
// -------------
.items-leading {
  border-bottom: 2px solid $border-color;
  margin-bottom: $spacer;

  @include media-breakpoint-up(lg) {
    margin-bottom: $spacer*2;
    padding-bottom: $spacer;
  }

  @include clearfix();

  // Single Item
  .col {
    .item-image {
    }

    p {
      margin-bottom: $spacer*2;
    }
  }
}


// Intro Items
// -------------
.items-row {
  align-items: stretch;

  .col {
    @include media-breakpoint-down(md) {
      flex-basis: 50%;
    }

    @include media-breakpoint-down(sm) {
      flex-basis: 100%;
    }

  }

  // Single Item
  .item {
    @include clearfix;

    // Styles on Desktop
    @include media-breakpoint-up(md) {
    }

    .item-title {
    }

    .item-image {
    }

    .readmore {
      margin-top: $spacer*1.5;

      @include media-breakpoint-up(md) {
        margin-top: $spacer*2;        
      }
    }
  }

}

// Blog Layout
// -----------
.blog,
.blog-featured {
  .items-leading {
    .blog-item {
      .item-content {
        position: relative;
      }
    }
  }

  .blog-items {
    .blog-item {
    }
  }

  .page-header {
    h2 a {
      &:hover, &:focus, &:active {
        text-decoration: none;
      }
    }
  }

  // The Article
  .blog-item {}

  .blog-item-content {
    @include clearfix;
  }

  .fields-container {
    border: 1px solid $border-color;
    border-radius: $border-radius;
    margin-top: $spacer;
    padding: 0 $spacer $spacer;

    .field-entry {
      text-align: center;
    }

    #cp_image {
      border-radius: $border-radius $border-radius 0 0;
      display: block;
      margin-left: -$spacer;
      margin-right: -$spacer;
      margin-bottom: $spacer;
      overflow: hidden;
    }

    .offer-details {
      color: var(--primary);
      font-weight: $font-weight-semibold;
      font-size: $font-size-lg;
      text-align: center;
    }

    .coupon-offer {
      text-align: center;

      .field-label {
        font-size: $font-size-sm;
        letter-spacing: .5px;
        text-transform: uppercase;
      }

      .coupon-wrap {
        background-color: $white;
        border: 1px dashed $orange;
        border-radius: 3px;
        display: inline-block;
        padding: 2px 2px 2px 6px;

        .field-value {
          color: $orange;
          font-weight: $font-weight-bold;
        }

        button {
          border: 0;
          border-radius: 3px;
          color: $gray-700;
          font-family: $font-family-base;
          font-size: $font-size-sm;
          margin-left: 4px;
          padding: 4px 8px;
          text-transform: uppercase;
          transition: $btn-transition;

          &:hover, &:focus, &:active {
            background-color: $orange;
            color: $white;
          }

          i {
            font-size: 12px;
            margin-right: 5px;
            vertical-align: middle;
          }
        }
      }
    }
  }
}

// Reset the duplicate container inside t4-body-main
.blog-featured {
}


//
// Article Page
// -------------------------
.item-page {

}


//
// Generic Category
// -------------------------
.category-desc {
  border: 1px solid $border-color;
  color: $text-muted;

  > img {
  }
}

.category {

  li {}

  .list {}

  .list-title {
    a {
      color: $gray-700;
      &:hover, &:focus, &:active {
        color: $link-hover-color;
      }
    }
  }

  // Striped Style
  &.row-striped,
  &.list-striped {
  }

}

// Filters
// T4: Joomla! use <fieldset> that break "display: flex".
// So we need to re-style the layout without using BS "btn-toolbar" styles 
// More info here: https://bugs.chromium.org/p/chromium/issues/detail?id=262679
.filters {
  legend {
  }

  legend,
  .btn-group,
  .input-group {
  }

  .input-group + .btn-group {
  }
}

//
// Categories List
// -------------------------
.categories-list {

  .page-header {

    // Badges
    .badge {
    }

    // Collapse Toggle
    .btn {
    }
  }

  // Indent Sub Categories
  .page-header + .fade,
  .fade > div {
  }

  // Category Desc
  .category-desc {
  }
}


//
// Category List
// -------------------------
.category-list {
}

.content-category {
  .control-group {
  }

  .filters {
  }

  // Sub Cat
  .cat-children {
    border-top: 1px solid $border-color;

    > h3 {
    }

    .category-desc {
    }

    > div {
      border-bottom: 1px solid $border-color;
    }
  }
}

// Category page navigation
.com-content-category__navigation {
  .com-content-category__counter {
    @include media-breakpoint-down(sm) {
      float: none !important;
    }
  }
}


//
// Contact Category
// -------------------------
.contact-category {
  h2 {}

  .category-desc {}

  // T4: Joomla! add ".row" to the <li>. So we need to make <ul> ".container"
  .category {
    @include make-container();
  }

  .list-title {
    a {
      font-weight: $font-weight-bold;
    }
  }
}

.content-category,
.com-contact-featured {
  table {
    margin-top: 1rem;
  }
}


//
// Contacts
// -------------------------
.contact {
  .page-header {
  }

  dt {
  }

  dd {
  }

  #slide-contact {
    .card {
    }

    .card-header {
      background-color: transparent;
      margin-bottom: -1px;
      padding: 0;

      &:hover {
        background-color: $gray-100;
      }

      .btn {
        color: $gray-600;
        display: block;
        font-weight: $font-weight-bold;
        padding: $spacer/1.5 $spacer;
        text-align: left;
        width: 100%;

        &:hover, &:focus, &:active {
          color: $link-hover-color;
          text-decoration: none;
        }
      }
    }
  }

  // Contact Form
  #contact-form {
  }

  h3 {
    border-bottom: 1px solid $border-color;
    font-size: $font-size-lg;
    font-weight: $font-weight-bold;
    margin-bottom: $spacer;
    padding-bottom: $spacer/2;
  }
}

// Contact list
table.category {
  width: 100%;

  th, td {
    border-bottom: 1px solid $border-color;
    padding: $spacer/2;
  }

  th {
    background-color: $gray-100;
    border: 0;
  }
}


//
// Newsfeed
// -------------------------
.newsfeed {
  .feed-description {
  }

  > ol {
  }

  > ol > li {
  }

  .feed-link {
  }

  .feed-item-description {
    figure {
    }

    .lead {
    }
    
    .feedflare {
    }
  }
}


//
// Newsfeed
// -------------------------
.newsfeed-category {
  .filters {
    display: flex;
    justify-content: space-between;
  }

  .list-group {
    .list-group-item > br {
      display: none;
    }

    .list-title {
      font-weight: 600;
    }
  }

  #filter-search {
  }
  
  .category {
    li {
    }
  }
}


// Pagination 
.pagination {
  margin: 0;

  > li {
    padding: 0 1px;

    .page-link.disabled {
      &:hover, &:focus, &:active {
        background-color: $gray-100;
      }
    }
  }

  .page-link {
    background-color: $gray-100;
    border-radius: $border-radius;
    border: 0;

    &:hover, &:focus, &:active {
    }
  }


}

.pagination-wrap {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column-reverse;
  gap: $spacer/2;

  @include media-breakpoint-up(sm) {
    flex-direction: row;
    justify-content: space-between;
  }

  ul {
    margin: 0;
    gap: 1px;

    @include media-breakpoint-down(sm) {
      justify-content: center;
    }
  }

  .counter {
    float: unset !important;
  }
}


//
// Search
// -------------------------
.search {

  .btn-toolbar {
    .btn {
    }
  }

  .searchintro {}

  fieldset {
    legend {
    }
  }

  .ordering-box {
    @extend .d-flex;
    @extend .flex-row;
    @extend .align-items-baseline;
   
    label {}

    select {
    }
  }

  .form-limit {}

  //
  // The Results
  .search-results,
  #search-results {
    border-top: 1px solid $border-color;

    .result-title {
    }

    .result-category {}
    .result-text {
    }

    .result-created {
      color: $gray;
    }
  }

}

.highlight {
  background: $yellow; 
  padding: 1px;
}

//
// The Empty Result
#search-result-empty {
}

.btn-group {
  input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}

select#limit {
  background: #fff;
  border: 1px solid #ccd2dd;
  font-family: sans-serif;
  padding: .875rem 1rem;
}

// Smart Search
// -------------------------
div.finder {

  .word {
    .form-inline {
      >label {
        display: block;
        font-size: 22px;
        margin-bottom: 16px;
        width: 100%;
      }

      >.input-group {
        button.btn {
          //color: $black;
        }

        a.btn {
          background: $gray-100;
          line-height: 2;
        }
      }
    }
  }

  input.form-control {
    margin-left: 0;
  }

  #search-form {
    .form-group {
      > label {
        font-size: $h3-font-size;
        margin-bottom: 8px;

        // Mobile view
        @include media-breakpoint-up(sm) {
          font-size: $h4-font-size;
        }
      }

      input.inputbox {
        width: 100%;
      }

      // Remove disable button search
      .btn.disabled {
        cursor: pointer;
        pointer-events: auto;
      }
    }

    #smartsearch-btn {
      
    }
  }

  #advancedSearch {
    margin-top: $grid-gutter-width / 3;

    .card-body {
      >p {
        margin-top: 10px;
      }
    }

    #finder-filter-window {
      margin-top: $grid-gutter-width / 2;

      .filter-branch {
        text-align: left;

        .control-group {
          display: inline-block;
          margin-right: $grid-gutter-width / 3;

          .control-label {
            margin-bottom: 5px;
          }
        }
      }
    }
  }

  #finder-filter-window {

    // Filter By Date
    #finder-filter-select-dates {
      flex-wrap: wrap;
      gap: $spacer/2;
      margin-bottom: $spacer*2;
      .filter-date {
        flex-wrap: wrap;
        padding: 0;
        gap: $spacer;
        width: 100%;
        max-width: 100%;

        @include media-breakpoint-up(md) {
          width: 40%;
          max-width: 40%;
        }
 
        label {
          flex-basis: 100%;
        }

        select.inputbox {
          margin: 0;
          width: 100% !important;
	    max-width: unset;
        }

        .field-calendar {
          width: 100%;
          .form-control {
            flex: 1;
            max-width: unset;
          }
        }

        .chzn-container {
          margin-bottom: 6px;
        }
      }

    }

    // Filter By Type 
    .filter-branch {
      display: flex;
      flex-wrap: wrap;
      gap: $spacer;
      width: 100%;

      @include media-breakpoint-down(md) {
        flex-direction: column;
      }

      .control-label {
        padding: 0;
        margin-bottom: $spacer/2;
      }

      .controls {
        margin-left: 0;

        select {
          width: 100%;
        }
      }
    }
  }
}

.js-finder-searchform {
  .js-finder-search-query {
    max-width: 100%;
    border-radius: $border-radius;
    margin-bottom: $spacer/2;
    width: 100%;
    margin-left: 10px;

    @include media-breakpoint-up(md) {
      margin-bottom: 0;
      max-width: 240px;
      min-height: 47px;
      width: auto;
    }
  }

  .input-group-append {
    .icon-search-plus {
      &:before {
        font-family: "Font Awesome 5 Free";
      }
    }
  }
}


//
// Tag Category
// -------------------------
.tag-category {
  .filters {
    .btn-group {
      position: relative;

      #filter-search {
        border-radius: 5px 0 0 5px;
        padding: 0 $spacer;
        height: 40px;
      }

      .btn {
        height: 40px;
        line-height: 20px;
      }

      &:nth-child(2) {
        float: right !important;
      }
    }
  }

  .category h3 {
  }

  table.category {
    margin-bottom: $spacer;
  }
}

.input-group-btn {
  .btn + .btn {
  }
}

//
// Login form / Register form
// --------------------------
.login-wrap {
  max-width: 480px;
  padding: $spacer*4 0;
  margin: 0 auto;

  @include media-breakpoint-up(md) {
    padding-top: $spacer*6;
    padding-bottom: $spacer*6;  
  }


  .login {
    background-color: $gray-100;
    border-radius: $border-radius-lg;
    margin-bottom: $spacer*2;
    padding: $spacer*2;  
  }
}

form.form-horizontal {
  div.control-group .controls {
    margin-left: 0;
  }

  .control-group.com-users-login__input,
  .control-group.com-users-login__secretkey {
    .control-label {
      display: block;
      float: none;
      padding: 0;
    }

    .controls {
      input {
        background: $white;
        max-width: 100%;
        width: 100%;
      }
    }
  }

  div.com-users-login__remember {
    .controls {
      display: inline-block;

      .inputbox {
        height: auto;
        margin-top: $spacer/2;
        margin-left: $spacer/2;
      }
    }    
  }

  div.com-users-login__submit {
    margin: 0;

    .btn {
      width: 100%;
    }
  }
}

.other-links {
  text-align: center;

  a {
    display: inline-block;
    padding: 0 $spacer;
  }
}


// Registration
.registration {
  fieldset {
    margin-bottom: $spacer;

    legend {
      border-bottom: 2px solid $border-color;
      font-size: $font-size-lg;
      font-weight: $font-weight-bold;
      margin-bottom: $spacer;
      padding-bottom: $spacer/2;
    }

    &:first-child {  

      @include media-breakpoint-up(md) {
        display: flex;
        flex-wrap: wrap;

        .control-group {
          flex-basis: 50%;
          padding: 0 $grid-gutter-width/2;

          &.field-spacer {
            flex-basis: 100%;
          }

          .control-label {
            float: none;
            display: block;
          }

          .controls {
            margin-left: 0;

            input {
              max-width: 100%;
              width: 100%;
            }
          }
        }
      }
    }

    #jform_privacyconsent_privacy {
      align-items: center;

      input, label {
        margin: 0 4px 0 0;
        vertical-align: middle;
      }
    }
  }

  .com-users-registration__submit {
    .btn {
      margin: 0 $spacer/2;
    }

    .controls {
      margin-left: 0;
    }
  }
}

// 
// Reset password
.com-users-reset,
.request-confirm,
.remind-confirm {
  border: 1px solid $border-color;
  border-radius: $border-radius-lg;
  margin: 0 auto;
  max-width: $spacer*40;
  padding: $spacer*2;

  form.form-horizontal .control-group {
    .control-label {
      float: none;
    }

    .controls {
      margin-left: 0;

      input {
        max-width: 100%;
        width: 100%;
      }
    }
  }
}

// Edit profile
#member-profile {
  #jform_actionlogs_actionlogsNotify {
    >label {
      margin-bottom: 0;
      margin-right: 10px;
    }
  }

  .com-users-profile__oteps {
    .alert span.fa {
      position: static;
    }
  }

  fieldset {
    .control-group {
      .control-label {
        +.alert {
          margin-left: $grid-gutter-width/2;
        }
      }

      .chosen-container {
        width: auto !important;
        min-width: 240px;
      }
    }
  }

  .com-users-profile__twofactor-method {
    >div {
      padding: 0;
    }
  }

  .com-users-profile__edit-submit {
    >div {
      margin-left: 0;
    }
  }
}


// 
// Edit Article 
// --------------------------
div.edit.item-page {
  // 
  fieldset {
    background: transparent;
    padding: 0;

    select.inputbox {
      max-width: 100%;
      width: 100%;

      @include media-breakpoint-up(md) {
        max-width: 240px;
        width: auto;
      }

      &#jform_tags {
        max-height: 100px;
      }
    }
  }

  .nav-tabs {
    .nav-item {
      margin: 0;

      .nav-link {
        border: 0;
        padding: $spacer/2 0;
      }

      &.active {
        .nav-link {
          font-weight: $font-weight-bold;
        }
      }
    }
  }

  // Fields
  #editor {
    .control-label {
      display: block;
      float: none;

      label {
        color: $gray-600;
        font-size: $font-size-sm;
        letter-spacing: 0.5px;
        text-transform: uppercase;
      }
    }
    
    .control-group {
      @include media-breakpoint-down(sm) {
        clear: both;
      }

      .controls {
        margin: 0;

        input,
        textarea {
          width: 100%;
          max-width: 100%;
        }
      }
    }
  }

  .js-editor-none ~ div {
    clear: both;
  }
}

#jform_captcha > div {
  height: auto !important;
}

// Ovrride style text editor.
.js-editor-tinymce .mce-container {
  border: 1px solid darken($gray-100, 4%);

  &.mce-toolbar {
    background-color: $gray-100;
    border-bottom: 1px solid $gray-100 !important;

    button {
      background: rgba($white, .7);
      color: $gray-600;
      min-height: 23px;
    }
  }

  .mce-flow-layout-item {
    margin: 0;
    padding: 4px;
  }

  .mce-container {
    border: 0;
  }

  .mce-wordcount {
    font-size: 12px;
    margin-right: $spacer;
    text-shadow: none;
  }
}

#jform_title {

}


// Profile edit
// -------------------------
.profile {
  fieldset dt {
    text-align: left;
  }
}

.profile-edit {
  fieldset {
    margin-bottom: $spacer*1.5;
  }

  form.form-horizontal .control-group {
    margin-bottom: $spacer;
  }

  input[type="text"],
  input[type="email"],
  input[type="password"] { 
    background: $white;
    max-width: 100%;

    @include media-breakpoint-up(lg) {
      max-width: 240px;
    }
  }


}


// Edit module button
// --------------------------
.btn.jmodedit {
  background-color: $gray-200;
  border-radius: 3px;
  padding: 0;
  height: 30px;
  width: 30px;
  line-height: 1;

  span {
    color: $gray-600;
    margin: 0 !important;
    line-height: 27px;
  }

  &:hover {
    background-color: $gray-600;

    span {
      color: $white;
    }
  }
}


// Fix modal overlay
// -----------------
body.modal-open {
  .t4-wrapper-inner {
    z-index: auto;
    perspective: none;
  }

  .modal {
    background-color: $white;
    border-radius: 5px;
    top: 10%;
    bottom: 10%;
    left: 50%;
    margin-left: -40%;
    overflow: hidden;
    height: auto;
    width: 80%;
    z-index: 1100;

    .modal-header {
      position: relative;

      h3 {
        border: 0;
        margin: 0;
        padding: 0;
        width: 100%;
      }

      .close {
        position: absolute;
        right: $spacer;
        top: $spacer;
      }
    }

    .modal-body {
      height: calc(100% - 56px);

      iframe {
        border: 0;
        overflow: auto;
        height: 100%;
      }
    }
  }
}

.contentpane {
  .row-fluid { @include make-row(); }

  .span2  { @include make-col(2); }
  .span3  { @include make-col(3); }
  .span4  { @include make-col(4); }
  .span5  { @include make-col(5); }
  .span6  { @include make-col(6); }
  .span7  { @include make-col(7); }
  .span8  { @include make-col(8); }
  .span9  { @include make-col(9); }
  .span10 { @include make-col(10); }
  .span11 { @include make-col(11); }
  .span12 { @include make-col(12); }

  .well {
    background-color: $gray-100;
    margin-bottom: $spacer;
    padding: $spacer $spacer*2;
    @extend .card;

    .row-fluid {
      margin-bottom: $spacer/2;
    }

    .control-group {
      .controls {
        margin-left: 0;
      }
    }

    label {
      min-width: 130px;
      padding-right: $spacer/2;
      text-align: right;
    }
  }


  input[type="text"] {
    border: 1px solid $border-color;
    padding: $spacer/4 $spacer/2;
  }

  .mod-wrapper {
    display: none;
  }
}


// Improve style for MCE Editor
// ----------------------------
.mce-panel.mce-window {
  border-radius: 5px;
  border: 0 !important;
  padding: 0 !important;

  .mce-window-head {
    border-bottom: 1px solid $border-color;
    padding: $spacer;

    .mce-close {
      height: 50px;
      width: 50px;
    }
  }

  .mce-foot {
    border-radius: 0 0 5px 5px;
    border-top: 1px solid $border-color;

    .mce-btn {
      border-radius: 5px;
    }
  }
}

.container-popup {
  padding: $spacer/2 $spacer !important;

  #uploadform.well {
    margin-bottom: 0;
  }
}

.js-stools-container-bar {
  margin-bottom: $spacer;

  .btn-wrapper {
    input {
      display: inline-block;
      width: auto;
    }

    button {
      display: inline-block;
    }
  }

  .btn {
    @extend .btn-secondary;
  }
}

.js-stools-container-list {
  margin-bottom: $spacer;
}

.thumbnails.thumbnails-media {
  list-style: none;
  margin: $spacer -8px 0;
  padding: 0;
  overflow: hidden;

  li a {
    color: $gray-600;
    display: block;
    padding-top: $spacer*2;

    &:hover, &:focus, &:active {
      color: $link-hover-color;
    }

    span {
      font-size: 32px;
      height: auto;
      width: auto;
    }
  }
}

//
// Template Configure page
// -------------------------
.com_config {
  .hr-condensed {
    display: none;
  }

  #templates-form {
    .btn-toolbar {
      display: none;
    }
  }

  #page-site {
    h1 {
      font-size: $font-size-lg;
      @extend .alert;
      @extend .alert-success;
    }
  }
}

ul.fields-container {
  padding-left: 0;
  
  li {
    list-style: none;
  }
}

.categories-list.com-content-categories {
  .com-content-categories__item {
    margin-bottom: 8px;

    .item-inner {
      padding: 0 16px;
    }
  }
}

.archive_listing {
  #acym__front__archive__search {
    display: flex;
    max-width: 600px;

    input {
      margin: 0 !important;
      height: 45px;
    }
  }
}

.alert {
  .close {
    cursor: pointer;
  }
}

.com-tags-tag-list {
  &.tag-category {
    #adminForm {
      >div {
        margin-top: 8px;
      }

      >.float-end {
        float: right;
      }

      .com-tags-tag-list__category {
        margin-top: 10px;
      }
    }

    ul.pagination {
      li.disabled {
        .page-link {
          background-color: rgba(0, 0, 0, 0.07);
        }
      }
    }
  }
}

.pagenavigation {
  .pagination {
    display: flex;
    justify-content: space-between;
  }
}

// Archive article
// ---------------
.com-content-archive {
  .filter-search {
    align-items: stretch !important;

    select {
      height: 100%;
    }
  }
}