<!-- HEADER BLOCK -->
<header class="header-block header-block-1">
  <div class="row align-items-stretch">
    <div class="col-12 col-md-4 col-lg-5">
      <div class="t4-navbar">
        <jdoc:include type="element" name="offcanvas-toggle" />
        <jdoc:include type="element" name="megamenu" />
      </div>
    </div>

    <div class="col-12 col-md-4 col-lg-2 align-self-center t4-brand">
      <jdoc:include type="element" name="logo" />
    </div>

    <div class="col-8 col-md-4 col-lg-5 text-right align-self-center t4-header-right">
      <jdoc:include type="modules" name="header-right" style="raw" />
    </div>
  </div>
</header>
<!-- // HEADER BLOCK -->